@charset "utf-8";

body {
  color: #fff;
  font: 1rem/1.5;
  background:  #003652;
  box-sizing: border-box;
  }

a {
  color: #fff;
  text-decoration: none;
}

.hide {
  position：absolute; 
  left:-10000px; 
  top:auto; 
  height:1px; 
  overflow:hidden;
}

/* row module */
.row-s-1 { height: 21px; }
.row-s-2 { height: 42px; }
.row-s-3 { height: 63px; }
.row-s-4 { height: 84px; }
.row-s-5 { height: 105px; }
.row-s-6 { height: 126px; }
.row-s-7 { height: 147px; }
.row-s-8 { height: 168px; }
.row-s-9 { height: 189px; }
.row-s-10 { height: 210px; }
.row-s-11 { height: 231px; }
.row-s-12 { height: 252px; }
.row-s-13 { height: 273px; }
.row-s-14 { height: 294px; }
.row-s-15 { height: 315px; }
.row-s-16 { height: 420px; }
.row-s-17 { height: 483px; }

.container {
  background: url(../images/sea.png) no-repeat;
  background-position: top center;
  background-size: 800px;
  padding-top: 63px;
}
/* header */
.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 42px;
  width: 89.0625%;
  border-bottom: 1px solid #fff;
  margin-bottom: 21px;

}

.logo a {
  position: absolute;
  left: 50%;
  background: url("../images/logo-header.png") no-repeat center center;
  transform: translate(-50%);

}


.navigation-container  {
  width: 285px;
  margin-bottom: 154px;
  margin-left: auto;
  margin-right: auto;
}

.global-Navigation-container {
  position: relative;
}

.global-Navigation-container  a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: url("../images/icon-hamberger.png") no-repeat center center;
  transform: translate(-50%, -50%);
}

.global-Navigation-container .global-navigation {
  display: none; 
}

.search {
   position: relative;
}
.search a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: url("../images/icon-search.png") no-repeat center center;
  transform: translate(-50%, -50%);
}

.checkout {
   position: relative;
}
.checkout a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: url("../images/icon-card.png") no-repeat center center;
  transform: translate(-50%, -50%);
}

.search form {
  display: none; 
}

/* contents */
.focus-on{
  position: relative;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 31px;

}
.focus-on .focus-on-text {
  margin-bottom: 34px;
}
.focus-on .focus-on-text span{
  display: block;
  font-family: "LatoWebHairline", sans-serif;
  font-size: 2em;
}

.focus-on .focus-on-text strong{
  font-family: "LatoWebBold", sans-serif;
  font-size: 1.6875em;
}

.focus-on .button {
  position: absolute;
  border: 1px solid #fff;
  line-height: 42px;
  left: 50%;
  transform: translate(-50%);
  font-family: "LatoWebBold", sans-serif;
  font-size: 1.125em;
  width: 178px;
  margin-bottom: 63px;
}


.fa-play:before {
  content: "\f04b";
  padding-right: 10px;
}


  /* 격리된 float 레이아웃 방식: Isolate Float Layout Technique */
  /* 왼쪽으로 밀어 놓은 것을 하나씩 끌어다 쓰것  것*/
  /* margin-right: -100%; 은  KEY POINT 이다 !!! */
  [class*="unit-"] { 
  box-sizing: border-box; 
  float: left; 
}


.title {
  position: relative;
}

/*.title-1-2 { padding-bottom: 50%; }*/
.title-1-1 { padding-bottom: 132%; }
.title-1-2 { padding-bottom: 52.941176%}
.title-3-2 { padding-bottom: 151.34%;}

.title-1-3 { padding-bottom: 33.333333333%; }
.title-2-3 { padding-bottom: 71.66661%; }
.title-4-3 { padding-bottom: 151.34%; }
.title-1-4 { padding-bottom: 39%; }

.title-content { background: #7f6162; }


.title-center {text-align: center;}
.title-left { text-align: left; left:0; padding-left: 18px;}
.title-right { text-align: right; right: 0; padding-right: 18px;}


[class*=title-text] {
  font-family: "LatoWebLight", sans-serif;
  position: absolute; 
}

.title-text1 { 
  width: 80%; 
  left: 50%;
  padding-top: 21px;
  transform: translate(-50%);
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 1.125em;
}
.bottom .title-text1:nth-child(1) {
  bottom: 0;
  padding-bottom: 21px;
}

.title-text2 {
  padding-top: 14px;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1.375em;
}

.title-text3 {
  padding-top: 34px;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1.375em;
}

.title-content .button-s {
  position: absolute;
  width: 96px;
  height: 21px;
  line-height: 21px;
  border: 1px solid #fff;
  transform: translate(-50%);
  font-size: 0.75em;
  margin-top: 21px;

}

[class*="photo-"] {
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    /*  border:1px solid red;*/
    }

.photo-1 { background-image: url(../images/Photo-01.jpg); }
.photo-2 { background-image: url(../images/Photo-02.jpg); }
.photo-3 { background-image: url(../images/Photo-03.jpg); }
.photo-4 { background-image: url(../images/Photo-04.jpg); }
.photo-5 { background-image: url(../images/Photo-05.jpg); }
.photo-6 { background-image: url(../images/Photo-06.jpg); }
.photo-7 { background-image: url(../images/Photo-07.jpg); }
.photo-8 { background-image: url(../images/Photo-08.jpg); }
.photo-9 { background-image: url(../images/Photo-09.jpg); }
.photo-10 { background-image: url(../images/Photo-10.jpg); }
.photo-11 { background-image: url(../images/Photo-11.jpg); }
.photo-12 { background-image: url(../images/Photo-12.jpg); }
.photo-13 { background-image: url(../images/Photo-13.jpg); }
.photo-14 { background-image: url(../images/Photo-14.jpg); }

/* footer */
.logo-footer {
  margin-top: 56px;
  text-align: center;
  margin-bottom: 43px;
}

.sns {
  font-size: 2.47125em;
  text-align: center;
  margin-bottom: 43px;
}

.footer-navigation {
  font-family: "LatoWebLight", sans-serif;
  font-size: 1.125em;
  padding-bottom: 83px;

}

.footer-navigation a {
  margin-bottom: 30px;
  margin-left: 14.6875%;
}

@media screen and (min-width: 600px) {

  
}

