<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>번창포도농원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="수목원포도를 판매하는 번창포도농원입니다.">
    <meta name="keywords" content="번창포도농원, 수목원포도, 캠벨포도, 포천시, 광릉수목원, 포도, 포도즙">
    <meta name="author" content="번창포도농원">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/grape.png">
</head>
<body>
	<h1>번창포도농원</h1>
	<div>
		<a href="../index.html">Home</a>
		<a href="about.html">About</a>
		<a href="sale.html">Sale</a>
		<a href="photo.html">Photo</a>
	</div>
	<div>
		<p><img src="../images/grape.jpg" alt="포도밭"></p>
		<p><strong>포천 수목원포도를 재배하는 번창포도농원입니다.</strong></p>
		<h3 id="top">목차</h3>

		<p>
		    <a href="#grape">번창포도</a></br>
		</p>
	​
		​<p>번창포도농원에서 재배된 포도는  캠벨얼리 품종으로  맛도 새콤달콤하고 우리나라에서 가장 많이 사랑을 받고 있는 포도이며,  항암작용, 체질개선, 피로회복 효능이 좋다고 합니다.</p>
		​
		<p>포도 과수원이 지리적으로도 매우 깨끗하고 청적지역인 포천 수목원 근교에 위치해 있어 좋은 자연환경에서  재배되고 있습니다.</p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p id="grape">또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>

		<p>또한 번창포도는 (사)농산물품질평가협회에서 농수산물 품질관리법에 따라 농산물우수관리의 기준에 적합함을 인정하여  <em>농산물우수관리인증(GAP)[제 1003713 호]</em>을 받았습니다. </p>
	</div>
</body>
</html>