<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>번창포도농원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="수목원포도를 판매하는 번창포도농원입니다.">
    <meta name="keywords" content="번창포도농원, 수목원포도, 캠벨포도, 포천시, 광릉수목원, 포도, 포도즙">
    <meta name="author" content="번창포도농원">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/grape.png">
</head>
<body>
	<h1>번창포도농원</h1>
	<div>
		<a href="../index.html">Home</a>
		<a href="about.html">About</a>
		<a href="sale.html">Sale</a>
		<a href="photo.html">Photo</a>
	</div>
	<div>
		<p><img src="../images/sale.jpg" alt="포도밭"></p>
		<p><strong>포천 수목원포도를 재배하는 번창포도농원입니다.</strong></p>
	​
		​<p>
		포도 : 5kg = 20,000원<br>
		10kg = 40,000원<br>
		포도즙 : 6kg = 40,000원</p>

		​<p>
		연락처 : 010-8924-6883<br>
		계좌번호 : 기업 044-059318-01-010 (김영선)</p>

		<p>주문은 전화나 문자로 남겨주세요 (예 : 포도 OO박스/이름/주소/전화번호/입금자명)
		입금확인 후 배송보네요.(택배가능 : 본인부담)</p>

		<p>♣ 택배 주문시 유의사항 :  포도는 5kg 박스만 가능하고 각 박스당 택배비가 붙습니다.<br>
		(10kg 박스 불가, 묶음 배송 안됨)</p>
	</div>
</body>
</html>