<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>번창포도농원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="수목원포도를 판매하는 번창포도농원입니다.">
    <meta name="keywords" content="번창포도농원, 수목원포도, 캠벨포도, 포천시, 광릉수목원, 포도, 포도즙">
    <meta name="author" content="번창포도농원">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/grape.png">
</head>
<body>
	<h1>번창포도농원</h1>
	<div>
		<a href="../index.html">Home</a>
		<a href="about.html">About</a>
		<a href="sale.html">Sale</a>
		<a href="photo.html">Photo</a>
	</div>
	<div>
		<p>포도송이<br><img src="../images/photo01.jpg" alt="포도송이"></p>
		<p>포도밭<br><img src="../images/photo02.jpg" alt="포도밭"></p>
	</div>
</body>
</html>