<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>앵귤러 모듈/컨트롤러</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body data-ng-app="ngApp">



  <div class="ng-template" data-ng-controller="ngController">
    <h1 class="ng-template-headline"></h1>
    <button
      data-ng-click="setContent()"
      type="button"
      class="fire-set-content-btn">fire conetnt below</button>
    <p>{{ content }}</p>
  </div>
  


  <!-- 별칭(임의)을 만들어 쓴 방법. 뷰스코프내에서만 사용가능하다.-->
  <!-- dc는 별칭이다. 객체이다.-->
  <div class="demo-temp" data-ng-controller="demoCtrl as dc"> 
    <h3>{{dc.headline}}</h3>
    <!-- 컨트롤러 자신을 참조하는 dc 별칭을 확인 -> 권장하는 방법은 $scope객체를 사용하는 것  -->
    <!-- as문법내에서는 this를 쓰지 못한다. 별칭을 써야함.-->
    <pre>{{ dc | json }}</pre>
  </div>



  <section class="other-ctrl" data-ng-controller="otherCtrl">
    <article>
      <h3 title="{{init_value}}">{{init_value}}</h3>
    </article>
  </section>



   <section class="other-ctrl" data-ng-controller="otherCtrl as oc">
    <article data-ng-click="oc.trigger()"> <!-- oc.trigger()는 디렉티브이다 -->
      <!-- <h3 title="{{init_value}}">{{init_value}}</h3> -->
      <h3 title="{{oc.init_value}}">{{oc.init_value ? '트리거 작동됨..' : '트리거 미작동..'}}</h3>
    </article>
  </section>


<script>
(function(global, angular, jq){
  'use strict';
  // angular 모듈 정의
  var app = angular.module('ngApp', []);  // []는 Injecting Dependencies




  // angular 모듈 객체의 controller() 메소드를 사용하여 컨트롤러 정의
  app.controller('ngController', function($scope){
    /////////////
    // Angular //
    /////////////
    // 지역 변수 설정
    var content_text = 'AngularJS Application is Awesome!!';
    // $scope 객체의 속성/메소드 정의
    $scope.content = '';
    $scope.setContent = function() {
      // console.log(this === $scope);
      this.content = content_text;
    };
    ////////////
    // jQuery //
    ////////////
    var ngTHeadline = jq('.ng-template-headline');
    ////////
    // JS //
    ////////
    content_text = content_text.split(' ').slice(-1).toString().toLowerCase().replace('!!', '');
    ngTHeadline.text( content_text );
  });



    ///////////////
    // as syntax //
    ///////////////
  app.controller('demoCtrl', function() {
    // 비공개 멤버
    var headline = 'this App maked Angular';
    // 공개
    this.headline = headline;
  });




    ////////////
    // $scope //
    ////////////
  angular.module('ngApp').controller('otherCtrl', function($scope) {// 수십개로 쪼개진 파일에서는 유용하다.
    //$scope.init_value = null;
    $scope.init_value = '';
    if (jq.type($scope.init_value) === 'null') {
      $scope.init_value = 'otherController';
    }else{
      $scope.init_value = 'not initialization.'
    }
  });



    ///////////////
    // as syntax //
    ///////////////
    // 2시 수업
  angular.module('ngApp').controller('otherCtrl', function() { // 수십개로 쪼개진 파일에서는 유용하다.
    // 컨트롤러 참조 변수(this는 window를 가르키기 때문에 not initialization이 나온다. 그래서 컨트롤러 참조 변수를 만든다.)
    // this를 that에 참조한다.
    var that = this;
    that.init_value = null;
    that.trigger    = trigger;
    function trigger() {
      // console.log(that);
      // that에 참조된 컨트롤러 객체를 사용하기 때문에
      // 함수를 누가 호출하든 this가 가진 문제점을 해결할 수 있다.
      console.log(that);
      if ( jq.type(that.init_value) === 'null' ) {
        that.init_value = 'otherController';
      } else {
        that.init_value = 'not initialization.';
      }
    }
    global.setTimeout(trigger, 3000);
  });


})(this, this.angular, this.jQuery);
</script>
</body>
</html>