body {
	background-color: #c3b291;
	margin: 0 auto;
	width: 960px;
	height: 960px;
}

.bg {
	position: relative;	
}

.glass { 
	position: absolute;
	left: 280px;
	top: 70px;
	z-index: 100;

 }

.screen { 
	position: absolute;
	left: 306px;
	top: 142px;
	z-index: 90;
 }

.screen-border { 
	position: absolute;
	left: 306px;
	top: 203px;
	z-index: 80;
 }

.front-black { 
	position: absolute;
	left: 280px;
	top: 270px;
	z-index: 70;
 }

.homebutton-spacegray { 
	position: absolute;
	left: 335px;
	top: 494px;
	z-index: 60;
 }

.battery { 
	position: absolute;
	left: 308px;
	top: 455px;
	z-index: 50;
 }
 
.memory { 
	position: absolute;
	left: 289px;
	top: 555px;
	z-index: 40;
 }

.sim-tray-spacegray { 
	position: absolute;
	left: 660px;
	top: 718px;
	z-index: 30;
 }

.back-spacegray { 
	position: absolute;
	left: 275px;
	top: 605px;
	z-index: 20;
 }

.shadow { 
	position: absolute;
	left: 288px;
	bottom: 43px;
	z-index: 10;
 }
