body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.wrapper {
  width: 100%;
  background-color: Silver; }

.header {
  background: tomato; }

.main {
  background: deepskyblue; }

.footer {
  background: lightgreen; }
