@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

em, strong, cite {
  font-style: normal;
}

ul, ol, li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.clearfix::after, .cf::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.lt-ie8 .clearfix, .lt-ie8 .cf {
  zoom: 1;
}

body {
  color: #666;
  font-size: 14px;
  font-family: "맑은고딕", "Malgun Gothic", "apple Gothic", "Apple SD Gothic Neo", Dotum, "돋움", Gulim, "굴림", "Helvetica-Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  line-height: 1.5;
  letter-spacing: -.5px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
  vertical-align: bottom;
}

.hide {
  position: absolute;
  left: -9999em;
}

.utility-navigation-wrap {
  display: none;
}

.utility-navigation-wrap .search {
  float: right;
  width: 36px;
  height: 36px;
  background: url(../images/common/btn_ico_spt.png) -140px -92px no-repeat;
  text-indent: -9999px;
  transform: translateY(25%);
  border-left: 1px solid #e0e0e0;
}

.logo-navigation-wrap {
  height: 56px;
  position: relative;
}

.logo {
  width: 100%;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin-right: 12.5%;
}

.logo img {
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: bottom;
}

.main-navigation-wrap {
  display: none;
}

.count {
  display: none;
}

.toggle-menu-button {
  position: absolute;
  right: 9px;
  top: 50%;
  color: blue;
  width: 30px;
  height: 27px;
  line-height: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-menu-button span {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 3px;
  margin-top: 4px;
  background-color: #fe5400;
}

.toggle-menu-button span:first-child {
  margin-top: 0;
}

.contents-wrap {
  width: 100%;
  background: url("../images/m_main/img_main.jpg") top center no-repeat;
  background-size: 100%;
}

.visual {
  color: #fff;
  text-align: center;
}

.visual .visual-title {
  line-height: 3.9375rem;
  padding-top: 114px;
  font-size: 2.25rem;
}

.visual .visual-contents {
  line-height: 2.0625rem;
  font-size: 1rem;
}

.visual .visual-button {
  color: #fff;
  margin-top: 19px;
  display: inline-block;
  border: 1px solid #fff;
  width: 160px;
  height: 57px;
  line-height: 57px;
}

.visual .visual-button span {
  font-size: 1rem;
  font-weight: 700;
}

.information-wrap {
  margin-top: 114px;
}

.information-wrap .information-go:nth-child(1) .information {
  position: relative;
  background: #d0d8db;
  opacity: 0.9;
}

.information-wrap .information-go:nth-child(1) .information .card_sale {
  position: absolute;
  right: 15%;
  bottom: -5px;
  width: 20%;
}

.information-wrap .information-go:nth-child(2) .information {
  position: relative;
  background: #ebeff2;
}

.information-wrap .information-go:nth-child(3) .information {
  position: relative;
  background: #fff;
}

.information-wrap .information {
  padding-left: 22px;
  padding-top: 19px;
  height: 114px;
  text-align: left;
  box-sizing: border-box;
  color: #000;
}

.information-wrap .information .information-title {
  font-size: 1rem;
  line-height: 1.25rem;
}

.information-wrap .information .information-title strong {
  line-height: 2.3125rem;
  font-weight: bold;
}

.information-wrap .information .information-text {
  font-size: 0.75rem;
}

.information-wrap .information .button-go {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url(../images/m_main/btn_go_main.png) no-repeat;
  background-size: 100%;
}

.main-banner-box {
  display: none;
}

.product-wrap {
  color: #fff;
  margin-bottom: 19px;
}

.product-wrap .product {
  height: 323px;
  text-align: center;
}

.product-wrap .product:nth-of-type(1) {
  background: url(../images/m_main/img_insu_03.jpg) no-repeat;
  background-position: center 65%;
  background-size: cover;
}

.product-wrap .product:nth-of-type(2) {
  background: url(../images/m_main/img_insu_01.jpg) no-repeat;
  background-position: left 40%;
  background-size: cover;
}

.product-wrap .product:nth-of-type(3) {
  height: 228px;
  background: url(../images/m_main/img_insu_04.jpg) no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.product-wrap .product:nth-of-type(4) {
  height: 228px;
  background: #636b7e;
}

.product-wrap .product:nth-of-type(5) {
  display: none;
}

.product-wrap .product .product-title {
  font-size: 1.75rem;
  line-height: 2.4375rem;
  padding-top: 76px;
  padding-bottom: 19px;
}

.product-wrap .product .product-contents {
  font-size: 0.875rem;
  line-height: 1rem;
  padding-bottom: 57px;
}

.product-wrap .product .product-button {
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  width: 108px;
  height: 38px;
  line-height: 38px;
}

.product-wrap .product .product-button span {
  font-weight: 700;
}

.product-wrap .product:nth-of-type(3) .product-title, .product-wrap .product:nth-of-type(4) .product-title {
  padding-top: 38px;
  padding-bottom: 0;
  font-size: 1.25rem;
}

.product-wrap .product:nth-of-type(3) .product-contents, .product-wrap .product:nth-of-type(4) .product-contents {
  height: 38px;
  line-height: 38px;
  padding-bottom: 0;
  margin-bottom: 26px;
}

.banner-wrap {
  margin-bottom: 38px;
}

.banner-wrap .title {
  font-size: 1.0625rem;
  line-height: 1.1875rem;
}

.banner-wrap .sub-title {
  font-size: 0.8125rem;
  padding-bottom: 10px;
}

.banner-wrap .text {
  font-size: 0.8125rem;
  line-height: 2.375rem;
}

.banner-wrap .banner {
  float: left;
  display: block;
  height: 114px;
  padding: 19px 0 0 24px;
  color: #fff;
}

.banner-wrap .banner:nth-of-type(1) {
  background: url(../images/m_main/img_main_03.png) center right no-repeat #6088ca;
  background-size: 120px;
}

.banner-wrap .banner:nth-of-type(1) .txt {
  display: none;
}

.banner-wrap .banner:nth-of-type(2) {
  background: url(../images/m_main/img_main_04.png) center right no-repeat #44659a;
  background-size: 150px;
}

.banner-wrap .banner:nth-of-type(3) {
  background: url(../images/m_main/img_main_05.png) center right no-repeat #32a5c6;
  background-size: 140px;
}

.banner-wrap .banner:nth-of-type(4) {
  display: none;
}

.banner-wrap .notice {
  display: none;
}

.main-link-wrap {
  display: none;
}

.main-information-wrap {
  color: #000;
  width: 100%;
  padding: 0 22px 38px;
}

.main-information-wrap .title {
  font-size: 18px;
  line-height: initial;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.promotion-list {
  padding-top: 16px;
  margin-bottom: 23px;
}

.promotion-list .list {
  position: relative;
  float: left;
  padding-bottom: 9px;
  line-height: 19px;
}

.promotion-list .list a {
  display: block;
  color: #666;
}

.promotion-list .list a span {
  padding-left: 12px;
}

.promotion-list .list a span::after {
  position: absolute;
  left: 0;
  top: 20%;
  display: block;
  content: '';
  width: 6px;
  height: 1px;
  background-color: #666;
}

.promotion-list .list:nth-of-type(5) {
  display: none;
}

.promotion-list .list:nth-of-type(6) {
  display: none;
}

.promotion-list .list:nth-of-type(7) {
  display: none;
}

.promotion-list .list:nth-of-type(8) {
  display: none;
}

.promotion-button {
  float: left;
  display: inline-block;
  width: 49.470899471%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #9d9d9d;
}

.promotion-button a {
  display: block;
  color: #3b3b3b;
}

.promotion-button:nth-of-type(2) {
  float: right;
}

.quiz-event {
  display: none;
}

/* FOOTER */
.footer {
  width: 100%;
  margin-bottom: 38px;
}

.sns-wrap {
  position: relative;
  padding: 0 22px;
  height: 57px;
  line-height: 57px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  color: #333;
  font-weight: 700;
}

.sns-wrap .sns-title {
  float: left;
  font-size: 0.8125rem;
}

.sns-wrap .sns {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.sns-wrap .sns .sns-list {
  display: block;
  float: left;
  width: 26px;
  height: 26px;
}

.sns-wrap .sns .sns-list:nth-of-type(1) {
  background: url(../images/m_main/footer_sns.png) no-repeat;
  background-position: left -29px;
  background-size: 100%;
  margin-right: 8px;
  text-indent: -99999px;
}

.sns-wrap .sns .sns-list:nth-of-type(2) {
  background: url(../images/m_main/footer_sns.png) no-repeat;
  background-position: left -57px;
  background-size: 100%;
  text-indent: -99999px;
}

.phone-number {
  height: 57px;
  line-height: 57px;
  border-bottom: 1px solid #e3e3e3;
}

.phone-number .phone-list {
  text-align: center;
  font-size: 0.75rem;
  float: left;
  color: #333;
}

.phone-number .phone-list .phone-icon {
  width: 19px;
  height: 20px;
  margin-right: 4px;
  display: inline-block;
}

.phone-number .phone-list .tel {
  display: none;
}

.phone-number .phone-list:nth-of-type(1) .phone-icon {
  background: url(../images/m_main/ico_foot.png) no-repeat;
  background-position: left top;
  background-size: 100%;
  vertical-align: -5px;
}

.phone-number .phone-list:nth-of-type(2) .phone-icon {
  background: url(../images/m_main/ico_foot.png) no-repeat;
  background-position: left -40px;
  background-size: 100%;
  vertical-align: -5px;
}

.phone-number .phone-list:nth-of-type(3) .phone-icon {
  background: url(../images/m_main/ico_foot.png) no-repeat;
  background-position: left -20px;
  background-size: 100%;
  vertical-align: -5px;
}

.foot-wrap {
  width: 100%;
  margin-bottom: 38px;
}

.quick-guide {
  height: 57px;
  line-height: 57px;
}

.quick-guide .guide-list {
  display: block;
  width: 33.33333%;
  text-align: center;
  font-size: 0.75rem;
  float: left;
  color: #000;
  position: relative;
}

.quick-guide .guide-list::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  background-color: #dfdfdf;
}

.quick-guide .footer-link1 .guide-list:nth-child(1) {
  color: #218082;
}

.quick-guide .footer-link1 .guide-list:nth-child(2) {
  color: #218082;
}

.quick-guide .footer-link1 .guide-list:nth-child(3) {
  display: none;
}

.quick-guide .footer-link1 .guide-list:nth-child(4) {
  color: #333;
}

.quick-guide .footer-link1 .guide-list:nth-child(5) {
  display: none;
}

.quick-guide .footer-link1 .guide-list:nth-child(6) {
  display: none;
}

.quick-guide .footer-link1 .guide-list:nth-child(7) {
  display: none;
}

.quick-guide .footer-link2 {
  display: none;
}

.addr {
  font-size: 0.6875rem;
  line-height: 1.1875rem;
  text-align: center;
}

.addr strong, .addr span {
  display: none;
}

.copy {
  font-size: 0.6875rem;
  line-height: 1.1875rem;
  text-align: center;
  margin-bottom: 38px;
}

.footer-aside {
  display: none;
}

@media screen and (min-width: 800px) {
  .header {
    width: 1200px;
  }
  .utility-navigation-wrap {
    display: block;
    width: 525px;
    height: 57px;
    line-height: 57px;
    font-size: 0.8125rem;
    float: right;
  }
  .utility-navigation {
    float: left;
    display: block;
    color: #666;
    padding: 0 1.6483516484%;
  }
  .utility-navigation:nth-of-type(7) {
    margin-right: 0.5%;
  }
  .search {
    float: right;
    width: 36px;
    height: 36px;
    background: url(../images/common/btn_ico_spt.png) -140px -92px no-repeat;
    text-indent: -9999px;
    transform: translateY(25%);
    border-left: 1px solid #e0e0e0;
  }
  .logo-navigation-wrap {
    height: initial;
    margin-bottom: 19px;
  }
  .logo {
    position: relative;
    margin-right: 8.33333%;
  }
  .logo img {
    height: initial;
  }
  .main-navigation-wrap {
    display: block;
    margin-right: 8.33333%;
  }
  .main-navigation-wrap .main-navigation {
    height: 38px;
    line-height: 38px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #666;
  }
  .side-navigation {
    float: right;
  }
  .side-navigation .count {
    display: block;
    float: left;
    width: 242px;
    height: 38px;
    line-height: 38px;
    color: #00a087;
    border: 1px solid #00a087;
    font-weight: 700;
    text-align: center;
  }
  .side-navigation .count .count-icon {
    display: inline-block;
    padding-left: 23px;
    height: 37px;
    background: url(../images/common/btn_ico_spt.png) no-repeat;
    background-position: -764px 10px;
    vertical-align: top;
  }
  .side-navigation .all-navigation {
    position: relative;
    float: right;
    width: 48px;
    height: 38px;
    border: 1px solid #d3d3d3;
    background: #fff;
  }
  .side-navigation .all-navigation .toggle-menu-button {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 16%;
    height: 38px;
    line-height: 0;
    transform: translate(-50%, -50%);
  }
  .side-navigation .all-navigation .toggle-menu-button span {
    margin-top: 4px;
    background-color: #fe5400;
  }
  .side-navigation .all-navigation .toggle-menu-button span:first-child {
    margin-top: 0;
  }
  .contents-wrap {
    width: 100%;
    padding: 0;
    background: url("../images/main/bg_top.jpg") top center no-repeat;
    text-align: center;
  }
  .visual .visual-title {
    line-height: 5.125rem;
    padding-top: 114px;
    font-size: 4.0625rem;
  }
  .visual .visual-contents {
    line-height: 3.0625rem;
    font-size: 1.75rem;
  }
  .visual .visual-button {
    margin-top: 21px;
    display: inline-block;
    border: 1px solid #fff;
    width: 240px;
    height: 57px;
    line-height: 57px;
  }
  .information-wrap {
    display: none;
  }
  .main-banner-box {
    position: relative;
    margin-top: 76px;
    display: block;
    color: #444;
    margin-bottom: 38px;
  }
  .main-banner-box .title {
    float: left;
    font-size: 2.25rem;
    padding-right: 30px;
    letter-spacing: -1.5px;
  }
  .main-banner-box .title strong {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .main-banner-box .button-go {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: url(../images/m_main/btn_go_main.png) no-repeat;
    background-size: 100%;
  }
  .main-banner-box .main-banner-cont {
    position: relative;
    height: 133px;
    background: #d0d8db;
    padding: 0 40px;
    opacity: 0.9;
  }
  .main-banner-box .main-banner-cont:nth-of-type(1) {
    text-align: left;
    font-size: 0.875rem;
  }
  .main-banner-box .main-banner-cont:nth-of-type(1) dl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-banner-box .main-banner-cont:nth-of-type(1) dl dd {
    float: left;
    padding-top: 5px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) {
    display: none;
    font-size: 1rem;
    letter-spacing: -.5px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) ul {
    width: 93.33333%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li {
    width: 25%;
    position: relative;
    float: left;
    text-align: left;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li em {
    color: #00a087;
    font-weight: 700;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 22px;
    height: 22px;
    transform: translateY(-50%);
    background: url(../images/main/bg_bnr_plus.png) no-repeat;
    content: '';
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li.banner-01 {
    background: url(../images/main/ico_mid01.png) left center no-repeat;
    padding-left: 60px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li.banner-02 {
    background: url(../images/main/ico_mid02.png) left center no-repeat;
    padding-left: 60px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li.banner-03 {
    background: url(../images/main/ico_mid03.png) left center no-repeat;
    padding-left: 60px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li.banner-04 {
    background: url(../images/main/ico_mid04.png) left center no-repeat;
    padding-left: 60px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) li.banner-04::after {
    display: none;
  }
  .main-banner-box .main-banner-cont:nth-of-type(2) a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) {
    display: none;
    text-align: left;
    line-height: 133px;
    font-size: 0.875rem;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd {
    font-size: 1.1875rem;
    float: left;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd em {
    color: #00a087;
    font-weight: 700;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd.title {
    padding-right: 37px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd.banner-01 {
    background: url(../images/main/ico_mid05.png) left center no-repeat;
    padding-left: 84px;
    padding-right: 56px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd.or {
    font-size: 2.0625rem;
    font-weight: 700;
    color: #727272;
    padding-right: 30px;
  }
  .main-banner-box .main-banner-cont:nth-of-type(3) dl dd.banner-02 {
    background: url(../images/main/ico_mid06.png) left center no-repeat;
    padding-left: 84px;
  }
  .main-banner-box .dot-box {
    position: absolute;
    bottom: 15px;
    left: 40px;
    z-index: 100;
  }
  .main-banner-box .dot-box a {
    background: url(../images/main/bg_spt_slide.png) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-indent: -9999px;
    margin-right: 5px;
  }
  .main-banner-box .dot-box a:nth-of-type(1) {
    background-position: left center;
  }
  .main-banner-box .dot-box a:nth-of-type(2) {
    background-position: -18px center;
  }
  .main-banner-box .dot-box a:nth-of-type(3) {
    background-position: left center;
  }
  .main-banner-box .dot-box a:nth-of-type(4) {
    background-position: -38px center;
  }
  .product-wrap {
    margin-bottom: 38px;
  }
  .product-wrap .product {
    text-align: center;
    position: relative;
  }
  .product-wrap .product:nth-of-type(1) {
    height: 608px;
    background: url(../images/main/bg_product01.png) center center no-repeat;
    background-size: cover;
  }
  .product-wrap .product:nth-of-type(2) {
    height: 304px;
    background: url(../images/main/bg_product02.png) center center no-repeat;
    background-size: cover;
  }
  .product-wrap .product:nth-of-type(3) {
    height: 304px;
    background: #00a087;
  }
  .product-wrap .product:nth-of-type(4) {
    height: 304px;
    background: #636b7e;
  }
  .product-wrap .product:nth-of-type(5) {
    display: block;
    height: 304px;
    background: url(../images/main/bg_product05.png) center center no-repeat;
    background-size: cover;
  }
  .product-wrap .product .product-title {
    font-size: 2.25rem;
    height: 57px;
    line-height: 63px;
    margin-top: 57px;
    padding-top: initial;
  }
  .product-wrap .product .product-contents {
    font-size: 0.875rem;
    line-height: 2.625rem;
    padding-bottom: 35px;
  }
  .product-wrap .product .product-button {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    width: 122px;
    height: 38px;
    line-height: 38px;
  }
  .product-wrap .product .product-button span {
    font-weight: normal;
  }
  .product-wrap .product .button-go {
    position: absolute;
    right: 22px;
    top: 38px;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: url(../images/m_main/btn_go_main.png) no-repeat;
    background-size: 100%;
  }
  .product-wrap .product:nth-of-type(3) .product-title, .product-wrap .product:nth-of-type(4) .product-title {
    font-size: 2.25rem;
    height: 57px;
    line-height: 63px;
    margin-top: 57px;
    padding-top: initial;
    padding-bottom: initial;
  }
  .product-wrap .product:nth-of-type(3) .product-contents, .product-wrap .product:nth-of-type(4) .product-contents {
    height: initial;
    font-size: 0.875rem;
    line-height: 2.625rem;
    padding-bottom: 35px;
    margin-bottom: initial;
  }
  .banner-wrap {
    margin-bottom: 38px;
  }
  .banner-wrap .title {
    font-size: 1.5625rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .banner-wrap .sub-title {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    padding-bottom: 4px;
    font-weight: 700;
  }
  .banner-wrap .text {
    margin-top: 5px;
    font-size: 0.9375rem;
    line-height: 1.3125rem;
  }
  .banner-wrap .box {
    float: left;
    width: 32%;
    height: 190px;
    padding: 38px 32px 0 32px;
    margin-right: 2%;
    text-align: left;
  }
  .banner-wrap .banner {
    display: block;
  }
  .banner-wrap .banner:nth-of-type(1) {
    background: url(../images/m_main/img_main_03.png) 120% bottom no-repeat #6088ca;
    background-size: 50%;
    color: #fff;
  }
  .banner-wrap .banner:nth-of-type(1) .tt {
    display: none;
  }
  .banner-wrap .banner:nth-of-type(1) .txt {
    display: block;
  }
  .banner-wrap .banner:nth-of-type(2) {
    display: none;
  }
  .banner-wrap .banner:nth-of-type(3) {
    display: none;
  }
  .banner-wrap .banner:nth-of-type(4) {
    display: block;
    background: url(../images/m_main/img_main_cashback.png) 110% 29% no-repeat #d9edf4;
    background-size: 48%;
    color: #333;
  }
  .banner-wrap .banner:nth-of-type(4) em {
    color: #fe5400;
  }
  .banner-wrap .banner:nth-of-type(4) .text {
    margin-top: 8px;
    color: #333;
  }
  .banner-wrap .notice {
    overflow: hidden;
    display: block;
    position: relative;
    background: #eceff1;
    margin-right: 0;
  }
  .banner-wrap .notice .title {
    padding-bottom: 8px;
  }
  .banner-wrap .notice .more {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 20px;
    line-height: 20px;
    padding-right: 20px;
    background: url(../images/common/ico_arrow_right01.png) right 1px no-repeat;
  }
  .banner-wrap .notice li {
    padding-left: 12px;
    background: url(../images/common/bul_blue_dot01.png) left 8px no-repeat;
    line-height: 22px;
  }
  .banner-wrap .notice li a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main-link-wrap {
    display: block;
    margin-bottom: 38px;
    border: 1px solid #ddd;
    height: 95px;
    line-height: 95px;
  }
  .main-link-wrap .list {
    float: left;
    background: url(../images/main/bg_ico_link.png) no-repeat;
    text-align: left;
    padding-left: 100px;
  }
  .main-link-wrap .list a {
    color: #444;
    font-size: 0.9375rem;
    letter-spacing: -1px;
  }
  .main-link-wrap .list a span {
    font-size: 0.8125rem;
  }
  .main-link-wrap .list:nth-of-type(1) {
    background-position: 50px 24px;
  }
  .main-link-wrap .list:nth-of-type(2) {
    line-height: 18px;
    padding-top: 33px;
    background-position: 50px -51px;
  }
  .main-link-wrap .list:nth-of-type(3) {
    background-position: 50px -128px;
  }
  .main-link-wrap .list:nth-of-type(4) {
    background-position: 50px -213px;
  }
  .main-information-wrap {
    color: #000;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    background: #f1f1f1;
    padding: initial;
  }
  .main-information-wrap .main-information {
    width: 1200px;
    margin: 38px auto;
  }
  .main-information-wrap .title {
    font-size: 1.375rem;
    line-height: 1.375rem;
    padding-bottom: 19px;
    border: none;
    text-align: left;
  }
  .main-information-wrap .title::after {
    margin-top: 15px;
    display: block;
    content: '';
    width: 40px;
    height: 1px;
    background-color: #000;
  }
  .main-information-wrap a {
    display: block;
    color: #666;
    text-align: left;
  }
  .main-information-wrap a:hover {
    text-decoration: underline;
  }
  .main-information-wrap a span {
    padding-left: 12px;
  }
  .main-information-wrap a span::after {
    position: absolute;
    left: 0;
    top: 20%;
    display: block;
    content: '';
    width: 6px;
    height: 1px;
    background-color: #666;
  }
  .promotion {
    float: left;
    margin-left: 40px;
  }
  .promotion .promotion-list {
    padding-top: 0;
    margin-bottom: 0px;
  }
  .promotion .promotion-list .list {
    position: relative;
    float: left;
    padding-bottom: 9px;
    line-height: 1rem;
    text-align: left;
  }
  .promotion .promotion-list .list:nth-of-type(2) {
    display: none;
  }
  .promotion .promotion-list .list:nth-of-type(5) {
    display: block;
  }
  .promotion .promotion-list .list:nth-of-type(6) {
    display: block;
  }
  .promotion .promotion-list .list:nth-of-type(7) {
    display: block;
  }
  .promotion .promotion-list .list:nth-of-type(8) {
    display: block;
  }
  .promotion-button {
    display: none;
  }
  .quiz-event {
    padding-left: 40px;
    display: block;
    float: right;
  }
  .quiz-event img {
    float: left;
    padding-right: 20px;
  }
  .quiz-event a {
    width: 50%;
    float: left;
  }
  /* FOOTER */
  .footer {
    width: 100%;
  }
  .sns-tel-wrap {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
  }
  .sns-tel {
    width: 1200px;
    margin: 0 auto;
    height: 57px;
  }
  .sns-wrap {
    border: none;
    padding: 0 0;
    position: relative;
    height: 57px;
    line-height: 57px;
    color: #333;
    font-weight: 700;
  }
  .sns-wrap .sns-title {
    float: left;
    font-size: 0.875rem;
    font-weight: 700;
  }
  .sns-wrap .sns {
    position: absolute;
    left: 144px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
  }
  .sns-wrap .sns .sns-list {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
  }
  .sns-wrap .sns .sns-list:nth-of-type(1) {
    background: url(../images/m_main/footer_sns.png) no-repeat;
    background-position: left -35px;
    background-size: 100%;
    margin-right: 8px;
    text-indent: -99999px;
  }
  .sns-wrap .sns .sns-list:nth-of-type(2) {
    background: url(../images/m_main/footer_sns.png) no-repeat;
    background-position: left -71px;
    background-size: 100%;
    text-indent: -99999px;
  }
  .phone-number {
    width: 700px;
    float: right;
    border-bottom: none;
  }
  .phone-number .phone-list {
    float: left;
    text-align: right;
    font-weight: 700;
    font-size: 0.875rem;
  }
  .phone-number .phone-list .phone-icon {
    display: none;
  }
  .phone-number .phone-list .tel {
    display: inline-block;
    padding-left: 20px;
    color: #fe5400;
    font-size: 1.25rem;
  }
  .foot-wrap {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 38px;
  }
  .foot-wrap .foot {
    width: 1200px;
    margin: 0 auto;
  }
  .quick-guide {
    float: left;
    height: initial;
    line-height: 12px;
  }
  .quick-guide .guide-list {
    display: block;
    width: initial;
    text-align: center;
    font-size: 0.8125rem;
    float: left;
    color: #000;
    position: relative;
    margin: 0 8px;
  }
  .quick-guide .guide-list:hover {
    text-decoration: underline;
  }
  .quick-guide .guide-list::after {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #dfdfdf;
  }
  .quick-guide .footer-link1 {
    margin-bottom: 12px;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(1) {
    color: #218082;
    font-weight: 700;
    margin-left: 0;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(2) {
    color: #218082;
    font-weight: 700;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(3) {
    display: block;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(4) {
    color: #333;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(5) {
    display: block;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(6) {
    display: block;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(7) {
    display: block;
  }
  .quick-guide .footer-link1 .guide-list:nth-child(7)::after {
    display: none;
  }
  .quick-guide .footer-link2 {
    display: block;
  }
  .quick-guide .footer-link2 .guide-list:nth-of-type(1) {
    margin-left: 0;
  }
  .quick-guide .footer-link2 .guide-list:nth-of-type(3)::after {
    display: none;
  }
  .addr {
    text-align: left;
    font-size: 0.75rem;
    margin-top: 19px;
  }
  .addr strong, .addr cite {
    display: inline-block;
    margin-right: 16px;
  }
  .addr span {
    display: inline-block;
    margin: 0 16px;
  }
  .copy {
    text-align: left;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .footer-aside {
    width: 330px;
    display: block;
    float: right;
    padding-bottom: 19px;
  }
  .footer-aside .button-site {
    float: left;
    width: 160px;
    height: 38px;
    padding-left: 16px;
    line-height: 38px;
    border: 1px solid #ddd;
    background: url(../images/common/bg_arrow02_open.png) 134px 14px no-repeat #f5f5f5;
    font-size: 0.8125rem;
    color: #666;
    margin-right: 10px;
  }
  .footer-aside .button-site:nth-of-type(2) {
    margin-right: 0;
  }
  .footer-aside .button-site a {
    display: block;
  }
  .footer-aside .footer-award {
    float: right;
    margin-top: 19px;
  }
  .footer-aside .footer-award a {
    display: inline-block;
    height: 31px;
    margin-left: 3px;
    background: url(../images/common/footer_logo.png) no-repeat;
    text-indent: -9999px;
  }
  .footer-aside .footer-award a.wa {
    width: 46px;
    background-position: 0 0;
  }
  .footer-aside .footer-award a.kswci {
    width: 28px;
    background-position: -53px 0;
  }
  .footer-aside .footer-award a.ksgp {
    width: 34px;
    background-position: -88px 0;
  }
  .footer-aside .footer-award a.ccm {
    width: 40px;
    background-position: -129px 0;
  }
  .footer-aside .footer-award a.djsi {
    width: 73px;
    background-position: -175px 0;
  }
}

/*# sourceMappingURL=../map/main.css.map */